<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Roboto:wght@700&display=swap"
        rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/94a317a22f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>Car Dealership Website</title>
</head>

<body>
    <!-- preloader start -->
    <div class="preloader d-flex justify-content-center align-items-center">
        <img src="image/gearblack.gif" alt="preloader">
    </div>
    <!-- preloader end -->
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg px-3 bg-secondary fixed-top" id="navBar">
        <a href="#" class="navbar-brand">
            <img src="image/harilogo1.gif" alt="logo">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myMenu">
            <span class="navbar-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <!--  -->
        <div class="collapse navbar-collapse" id="myMenu">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a href="#navBar" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#skills" class="nav-link">Skills</a></li>
                <li class="nav-item"><a href="#inventory" class="nav-link">Inventory</a></li>
                <li class="nav-item"><a href="#featured" class="nav-link">Featured</a></li>
                <li class="nav-item"><a href="#contact" class="nav-link">Contact us</a></li>
            </ul>
            <div class="nav-icons d-none d-lg-block ">
                <a href="#" class="nav-icon ">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="nav-icon">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="nav-icon">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" class="nav-icon">
                    <i class="fab fa-linkedin-in "></i>
                </a>
            </div>
        </div>
    </nav>
    <!-- navbar End -->
    <!-- header start -->
    <header class="header" id="header">
        <div class="container-fluid">
            <div class="row height-max align-items-center">
                <div class="col col-md-9 ml-auto text-right pr-5">
                    <h5 class="title-heading d-inline-block p-2 text-uppercase">the all new</h5>
                    <h2 class="text-uppercase my-2 title">2020 marceds-benz</h2>
                    <h3 class="text-uppercase">Model name</h3>
                    <h6 class="text-uppercase">starts from</h6>
                    <h2>$60,000 <a href="#" class="title-icon d-inline-block mx-2">
                            <i class="fas fa-play"></i>
                        </a></h2>
                </div>

            </div>
        </div>

    </header>
    <!-- header end -->
    <!-- skills section start-->
    <section class="skills py-5" id="skills">
        <div class="container">
            <!-- section title -->
            <div class="row mb-5">
                <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                    <h1 class="font-weight-bold align-self-center mx-1">Why choose</h1>
                    <h1 class="section-title-spacial mx-1">Car Dealer</h1>
                </div>
            </div>
            <!-- section-title end -->
            <!-- skill-section main start -->
            <div class="row">
                <div class="col-sm-6 col-lg-3 col-10 mx-auto justify-content-between align-items-center text-center my-3 skill-body">
                    <a href="#" class="skills-icon p-2 rounded-circle">
                        <i class="fa fa-car fa-fw"></i>
                    </a>
                    <h6 class="text-uppercase font-weight-bold my-3">all brands</h6>
                    <div class="skills-underline">
                        <p class="w-75 mx-auto text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Commodi, consequuntur!</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-10 mx-auto justify-content-between align-items-center text-center my-3 skill-body">
                    <a href="#" class="skills-icon p-2 rounded-circle">
                        <i class="fa fa-comments fa-fw"></i>
                    </a>
                    <h6 class="text-uppercase font-weight-bold my-3">free support</h6>
                    <div class="skills-underline">
                        <p class="w-75 mx-auto text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Commodi, consequuntur!</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-10 mx-auto justify-content-between align-items-center text-center my-3 skill-body">
                    <a href="#" class="skills-icon p-2 rounded-circle">
                        <i class="fa fa-people-carry fa-fw"></i>
                    </a>
                    <h6 class="text-uppercase font-weight-bold my-3">caring</h6>
                    <div class="skills-underline">
                        <p class="w-75 mx-auto text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Commodi, consequuntur!</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 col-10 mx-auto justify-content-between align-items-center text-center my-3 skill-body">
                    <a href="#" class="skills-icon p-2 rounded-circle">
                        <i class="fa fa-wallet fa-fw"></i>
                    </a>
                    <h6 class="text-uppercase font-weight-bold my-3">affordable</h6>
                    <div class="skills-underline">
                        <p class="w-75 mx-auto text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Commodi, consequuntur!</p>
                    </div>
                </div>
            </div>
            <!-- skill-section main end -->
        </div>
    </section>
    <!-- skills section end -->
    <!-- Invetory section start -->
    <section class="invetory py-5" id="inventory">
        <div class="row mb-5">
            <div class="col d-flex flex-wrap text-uppercase justify-content-center">
                <h1 class="font-weight-bold align-self-center mx-1">Why choose</h1>
                <h1 class="section-title-spacial mx-1">Car Dealer</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-10 mx-auto col-12 d-flex justify-content-end">
                <button class="btn btn-outline-secondary text-uppercase mx-1">all</button>
                <button class="btn btn-outline-secondary text-uppercase mx-1">American</button>
                <button class="btn btn-outline-secondary text-uppercase mx-1">German</button>

            </div>
        </div>
        <!-- cars start -->
        <div class="row">
            <!-- single car -->
            <div class="col-10 mx-auto d-flex justify-content-between align-items-center my-3 col-md-6 col-lg-4">
                <div class="card car-card">
                    <img src="image/car2.jpg" alt="german" class="img-fluid card-img-top car-img">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="car-info d-flex justify-content-wetbeen">
                            <!-- first flex child -->
                            <div class="car-text text-uppercase">
                                <h6 class="font-weight-bold">Car Maker</h6>
                                <h6>model</h6>
                            </div>
                            <!-- second flex child -->
                            <h5 class="car-value align-self-center py-2 px-3 ml-auto">$ <span
                                    class="car-price">80,000</span></h5>
                        </div>
                    </div>
                    <!-- end of car -->
                    <div class="card-footer text-capitalize d-flex justify-content-between text-center">
                        <p><span><i class="fas fa-car"></i></span>sedan</p>
                        <p><span><i class="fas fa-cogs"></i></span>automation</p>
                        <p><span><i class="fas fa-gas-pump"></i></span>50</p>
                    </div>
                </div>

            </div>
            <!-- single car -->
            <div class="col-10 mx-auto d-flex justify-content-between align-items-center my-3 col-md-6 col-lg-4">
                <div class="card car-card">
                    <img src="image/car3.jpg" alt="german" class="img-fluid card-img-top car-img">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="car-info d-flex justify-content-between">
                            <!-- first flex child -->
                            <div class="car-text text-uppercase">
                                <h6 class="font-weight-bold">Car Maker</h6>
                                <h6>model</h6>
                            </div>
                            <!-- second flex child -->
                            <h5 class="car-value align-self-center py-2 px-3 ml-auto">$ <span
                                    class="car-price">50,000</span></h5>
                        </div>
                    </div>
                    <!-- end of car -->
                    <div class="card-footer text-capitalize d-flex justify-content-between text-center">
                        <p><span><i class="fas fa-car"></i></span>sedan</p>
                        <p><span><i class="fas fa-cogs"></i></span>automation</p>
                        <p><span><i class="fas fa-gas-pump"></i></span>50</p>
                    </div>
                </div>

            </div>
            <!-- single car -->
            <div class="col-10 mx-auto d-flex justify-content-between align-items-center my-3 col-md-6 col-lg-4">
                <div class="card car-card">
                    <img src="image/car4.jpg" alt="german" class="img-fluid card-img-top car-img">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="car-info d-flex justify-content-between">
                            <!-- first flex child -->
                            <div class="car-text text-uppercase">
                                <h6 class="font-weight-bold">Car Maker</h6>
                                <h6>model</h6>
                            </div>
                            <!-- second flex child -->
                            <h5 class="car-value align-self-center py-2 px-3 ml-auto">$ <span
                                    class="car-price">70,000</span></h5>
                        </div>
                    </div>
                    <!-- end of car -->
                    <div class="card-footer text-capitalize d-flex justify-content-between text-center">
                        <p><span><i class="fas fa-car"></i></span>sedan</p>
                        <p><span><i class="fas fa-cogs"></i></span>automation</p>
                        <p><span><i class="fas fa-gas-pump"></i></span>50</p>
                    </div>
                </div>

            </div>
            <!-- single car -->
            <div class="col-10 mx-auto d-flex justify-content-between align-items-center my-3 col-md-6 col-lg-4">
                <div class="card car-card">
                    <img src="image/car9.jpg" alt="german" class="img-fluid card-img-top car-img">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="car-info d-flex justify-content-between">
                            <!-- first flex child -->
                            <div class="car-text text-uppercase">
                                <h6 class="font-weight-bold">Car Maker</h6>
                                <h6>model</h6>
                            </div>
                            <!-- second flex child -->
                            <h5 class="car-value align-self-center py-2 px-3 ml-auto">$ <span
                                    class="car-price">40,000</span></h5>
                        </div>
                    </div>
                    <!-- end of car -->
                    <div class="card-footer text-capitalize d-flex justify-content-between text-center">
                        <p><span><i class="fas fa-car"></i></span>sedan</p>
                        <p><span><i class="fas fa-cogs"></i></span>automation</p>
                        <p><span><i class="fas fa-gas-pump"></i></span>50</p>
                    </div>
                </div>

            </div>
            <!-- single car -->
            <div class="col-10 mx-auto d-flex justify-content-between align-items-center my-3 col-md-6 col-lg-4">
                <div class="card car-card">
                    <img src="image/car6.jpg" alt="german" class="img-fluid card-img-top car-img">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="car-info d-flex justify-content-between">
                            <!-- first flex child -->
                            <div class="car-text text-uppercase">
                                <h6 class="font-weight-bold">Car Maker</h6>
                                <h6>model</h6>
                            </div>
                            <!-- second flex child -->
                            <h5 class="car-value align-self-center py-2 px-3 ml-auto">$ <span
                                    class="car-price">50,000</span></h5>
                        </div>
                    </div>
                    <!-- end of car -->
                    <div class="card-footer text-capitalize d-flex justify-content-between text-center">
                        <p><span><i class="fas fa-car"></i></span>sedan</p>
                        <p><span><i class="fas fa-cogs"></i></span>automation</p>
                        <p><span><i class="fas fa-gas-pump"></i></span>50</p>
                    </div>
                </div>

            </div>
            <!-- single car -->
            <div class="col-10 mx-auto d-flex justify-content-between align-items-center my-3 col-md-6 col-lg-4">
                <div class="card car-card">
                    <img src="image/car7.jpg" alt="german" class="img-fluid card-img-top car-img">
                    <!-- card body -->
                    <div class="card-body">
                        <div class="car-info d-flex justify-content-between">
                            <!-- first flex child -->
                            <div class="car-text text-uppercase">
                                <h6 class="font-weight-bold">Car Maker</h6>
                                <h6>model</h6>
                            </div>
                            <!-- second flex child -->
                            <h5 class="car-value align-self-center py-2 px-3 ml-auto">$ <span
                                    class="car-price">30,000</span></h5>
                        </div>
                    </div>
                    <!-- end of car -->
                    <div class="card-footer text-capitalize d-flex justify-content-between text-center">
                        <p><span><i class="fas fa-car"></i></span>sedan</p>
                        <p><span><i class="fas fa-cogs"></i></span>automation</p>
                        <p><span><i class="fas fa-gas-pump"></i></span>50</p>
                    </div>
                </div>

            </div>
        </div>


        <!-- cars end -->


    </section>
    <!-- Invetory section end -->
    <!-- question section start  -->
    <section class="question" id="question">
        <div class="container">
            <div class="row question-main">
                <div class="col-lg-6 col-10 mx-auto col-md-6 d-flex justify-content-between align-items-center question-gray p-4">
                    <a href="#" class="question-icon mr-3">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">are you looking for a car?</h4>
                        <p class="question-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                            voluptates.</p>
                    </div>

                </div>
                <div class="col-lg-6 col-10 mx-auto d-flex justify-content-between align-items-center col-md-6 justify-content-between question-yellow p-4">
                    <a href="#" class="question-icon mr-3">
                        <i class="fas fa-dollar-sign fa-fw"></i>
                    </a>
                    <div class="question-text w-75">
                        <h4 class="question-title text-capitalize font-weight-bold">do you want to sell a car?</h4>
                        <p class="question-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad,
                            voluptates.</p>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- question section end  -->
    <!-- featured section start -->
    <section class="featured py-5" id="featured">
        <div class="col d-flex flex-wrap text-uppercase justify-content-center">
            <h1 class="font-weight-bold align-self-center mx-1">featured</h1>
            <h1 class="section-title-special mx-1">cars</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-10 mx-auto featured-info my-3">
                    <div class="featured-item my-3 d-flex text-capitalize align-item-baseline flex-wrap">
                        <span class="featured-icon mr-2">
                            <i class="fas fa-car"></i>
                        </span>
                        <h5 class="font-weight-bold mx-1">mercedes</h5>
                        <h5 class="mx-1">new model</h5>
                    </div>
                    <div class="featured-item my-3 d-flex text-capitalize align-item-baseline flex-wrap">
                        <span class="featured-icon mr-2">
                            <i class="fas fa-car"></i>
                        </span>
                        <h5 class="font-weight-bold mx-1">mercedes</h5>
                        <h5 class="mx-1">new model</h5>
                    </div>
                    <div class="featured-item my-3 d-flex text-capitalize align-item-baseline flex-wrap">
                        <span class="featured-icon mr-2">
                            <i class="fas fa-car"></i>
                        </span>
                        <h5 class="font-weight-bold mx-1">mercedes</h5>
                        <h5 class="mx-1">new model</h5>
                    </div>
                    <div class="featured-item my-3 d-flex text-capitalize align-item-baseline flex-wrap">
                        <span class="featured-icon mr-2">
                            <i class="fas fa-car"></i>
                        </span>
                        <h5 class="font-weight-bold mx-1">mercedes</h5>
                        <h5 class="mx-1">new model</h5>
                    </div>
                    <div class="featured-item my-3 d-flex text-capitalize align-item-baseline flex-wrap">
                        <span class="featured-icon mr-2">
                            <i class="fas fa-car"></i>
                        </span>
                        <h5 class="font-weight-bold mx-1">mercedes</h5>
                        <h5 class="mx-1">new model</h5>
                    </div>

                </div>
                <div class="col-10 mx-auto d-flex justify-content-between align-items-center col-lg-6 col-md-6 featured-img my-3">
                    <div class="img-container py-4">
                        <img src="image/car13.png" alt="" class="img-fluid featured-photo"
                            style="width:100%;height:auto;">
                        <a href="#" class="featured-link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- featured section end -->
    <!-- achievement start -->
    <section class="project-done" id="projectdoneid">
        <div class="projectdone-banner">
            <h2>OUR CUSTOMER'S AND OUR ACHEIVEMENTS <span style="color: hsl(177, 95%, 44%);">:) &nbsp;<i
                        class="far fa-smile " style="color: hsl(177, 95%, 44%);"></i></span></h2>
            <div class="container projectdone-content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto justify-content-between align-items-center pt-3">
                        <div class="counter text-center">
                            <div class="icon-box">
                                <i class="fa fa-car"></i>
                            </div>
                            <h3 class="count">3,0000</h3>
                            <p>CAR SELL</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto justify-content-between align-items-center pt-3">
                        <div class="counter text-center">
                            <div class="icon-box">
                                <i class="fa fa-users "></i>
                            </div>
                            <h3 class="count">25,000</h3>
                            <p>CUSTOMER'S CONNECTED</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto justify-content-between align-items-center pt-3">
                        <div class="counter text-center">
                            <div class="icon-box">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <h3 class="count">2000</h3>
                            <p>GLOBAL ACHEIVEMENTS</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-10 mx-auto justify-content-between align-items-center pt-3">
                        <div class="counter text-center">
                            <div class="icon-box">
                                <i class="fa fa-address-book"></i>
                            </div>
                            <h3 class="count">100,000,000</h3>
                            <p>Turn Over</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--acievement end -->
    <!-- client section start -->
    <section class="client" id="client">
        <div class="client-header">
            <h1>Customer's feedback</h1>
        </div>
        <div class="container">
            <div class="carousel slide" data-ride="carousel" id="feedback">
                <ul class="carousel-indicators">
                    <li class="active" data-target="#feedback" data-slide-to="0"></li>
                    <li data-target="#feedback" data-slide-to="1"></li>
                    <li data-target="#feedback" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner container">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car14.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/hari.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Hari Om Panday</h1>
                                            <p>Web developer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car15.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/manish.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Manish Gupta</h1>
                                            <p>Civil Engineeer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car16.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/rakesh.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Rakesh Thakur</h1>
                                            <p>Civil Engineer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car17.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/team-1.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Donald Trump</h1>
                                            <p>Electrical Engineeer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car14.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/team-2.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Shani chaturvedi</h1>
                                            <p>Civil services</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car15.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/team-3.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Shikha</h1>
                                            <p>Web developer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car17.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image//team-5.jpg" alt=""
                                                class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Seema</h1>
                                            <p>Web developer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car18.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/team-6.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Er.Alica </h1>
                                            <p>Agriculture Engineer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-10 mx-auto d-flex justify-content-between align-items-center">
                                <div class="card">
                                    <div class="card-header">
                                        <img src="image/car14.png" alt="" class="img-fluid">
                                    </div>
                                    <div class="card-body">
                                        <div class="card-image">
                                            <img src="image/team10.jpg" alt="" class="img-fluid img-thumbnail card-img">
                                        </div>
                                        <div class="card-title">
                                            <h1>Mr.Alen</h1>
                                            <p>Web developer</p>
                                        </div>
                                        <div class="card-caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id ducimus
                                                placeat laudantium eum expedita nesciunt rerum a?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#feedback" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#feedback" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>

    </section>
    <!-- client section end -->
    <!-- About Us start -->
    <section class="about">
        <div class="about-header">
            <h2>About us</h2>
        </div>
        <div class="carousel slide" id="about-carousel" data-ride="carousel">
            <ul class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#about-carousel"></li>
                <li data-slide-to="0" data-target="#about-carousel"></li>
                <li data-slide-to="0" data-target="#about-carousel"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="about-content-img">
                        <img src="image/hariweb1.jpg" alt="" class="img-fluid img-tumbnail rounded-circle" width="100px"
                            height="100px">
                    </div>
                    <div class="about-content">
                        <h3>Hari Om Panday is a web developer and Blogger.He want to help others by providing a good
                            content on modern technology.</h3>
                        <h4>Hari om panday, CEO OF TECHNICALHARI</h4>
                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="about-content-img">
                        <img src="image/hariweb1.jpg" alt="" class="img-fluid img-tumbnail rounded-circle" width="100px"
                            height="100px">
                    </div>
                    <div class="about-content">
                        <h3>Hari Om Panday is a web developer and Blogger.He want to help others by providing a good
                            content on modern technology.</h3>
                        <h4>CEO OF TECHNICALHARI</h4>
                    </div>

                </div>
                <div class="carousel-item ">
                    <div class="about-content-img">
                        <img src="image/hariweb1.jpg" alt="" class="img-fluid img-tumbnail rounded-circle" width="100px"
                            height="100px">
                    </div>
                    <div class="about-content">
                        <h3>Hari Om Panday is a web developer and Blogger.He want to help others by providing a good
                            content on modern technology.</h3>
                        <h4>CEO OF TECHNICALHARI</h4>
                    </div>
                </div>
            </div>
            <a href="#about-carousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#about-carousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </section>


    <!-- About Us end -->
    <!-- contact page start -->
    <section class="contact" id="contact">
        <div class="contact-header">
            <h2>Contact Us</h2>
            <p>For any help please contact us.Our team is always for you</p>
        </div>
        <div class="container">
            <div class="col-lg-6 m-auto d-block">
                <form action="" onsubmit="return validation()" class="form">
                    <div class="form-group">
                        <label>Username:</label>
                        <input type="text" name="user" id="user" class="form-control">
                        <span id="username" class="contact-span"></span>
                    </div>
                    <div class="form-group">
                        <label>Mobile Number:</label>
                        <input type="text" name="mobile no" id="mobileNumber" class="form-control">
                        <span id="mobile-number" class="contact-span"></span>
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" name="email" id="email" class="form-control">
                        <span id="emailid" class="contact-span"></span>
                    </div>
                    <div class="form-group">
                        <label>Message:</label>
                        <textarea name="message" rows="4" class="form-control"
                            placeholder="What can we help you ?"></textarea>
                    </div>
                    <div class="submit text-center">
                        <input type="submit" name="submit" id="submit" value="Submit" class="button">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- contact page End -->
    <!-- footer start -->
    <section class="footer" id="footer">
        <div class="container">
            <div class="row">
                    <div class="col-lg-3 col-3 d-flex justify-content-center align-items-center footer-icon">
                        <a href="#"><i class="fa fa-facebook "></i></a>
                    </div>
                    <div class="col-lg-3 col-3 d-flex justify-content-center align-items-center footer-icon">
                        <a href="#"><i class="fa fa-twitter "></i></a>
                    </div>
                    <div class="col-lg-3 col-3 d-flex justify-content-center align-items-center footer-icon">
                        <a href="#"><i class="fab fa-instagram "></i></a>
                    </div>
                    <div class="col-lg-3 col-3 d-flex justify-content-center align-items-center footer-icon">
                        <a href="#"><i class="fab fa-linkedin-in "></i></a>
                    </div>
                    </div>
                </div>
        </div>

    </section>
    <!-- scroll button -->
    <div class="scrolltop float-right">
        <i class="fa fa-arrow-up" onclick="topFunction()" id="myBtn"></i>
    </div>
    <!-- footer end -->
    <script>
        // counter start
        jQuery(document).ready(function ($) {
            $('.count').counterUp({
                delay: 10,
                time: 2000
            });
        });
        // counter end
    </script>
    <script src="jquery.counterup.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="jquery-3.4.1.js"></script>
    <script src="bootstrap.js"></script>
    <script src="script.js"></script>
</body>

</html>